/* alteraçãos aqui */
div#master{
    margin: 20xp;
}
section.parte{
    margin-top: 40px;
}
body{
    background-color: #F0FFF0;
}

/* icones */
i.fa-facebook {
    font-size: 40px;
    margin-left: 50px;
}
.fa-instagram{
    font-size: 40px;
    margin-left: 50px;
}
.fa-fly{
    font-size: 60px;
}
/* --------------------------- */